/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#banner-home {

  min-height: 520px;
  box-shadow: 0 2px 3px $gray;
  text-align: center;
  .padded{
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
  }
  h1 {
    color: white;
  }

}

.container-fluid{
  .modified{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#trigger1{

  bottom: 200px;
  text-align: center;
  p:hover{
    color: white;
  }
}

.card-benefit {
  padding: 1em;
}

.icon{
  max-height: 60px;
  opacity: 1;
}

.padded{
padding-top: 2em;
}



.image-section-particuliers {
  height: 22em;
  opacity: 0.95;
  border: solid white 3px;
  h3{
    color: white;
    padding: 25%;
    Text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }
  p{
    opacity: 0;
    transition: opacity ease 0.3s;
    color: white;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }
}

.image-section-particuliers:hover {
opacity: 1;
transition: ease 0.3s;
  h3{
    -webkit-transform: translate(0,-2em);
    -moz-transform: translate(0,-2em);
    -o-transform: translate(0,-2em);
    -ms-transform: translate(0,-2em);
    transform: translate(0,-2em);
  }
  p{
    -webkit-transform: translate(0,-5em);
    -moz-transform: translate(0,-5em);
    -o-transform: translate(0,-5em);
    -ms-transform: translate(0,-5em);
    transform: translate(0,-5em);
    opacity: 1;
  }
}



.banner-pro{
  border: solid white 3px;
  min-height: 20em;
  padding-top: 6em;
  h3,h2,h5,p{
    color: white;
    text-align: center;
  }
  h4{
    opacity: 0;
    transition: opacity ease 0.3s;
    color: white;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }
}

.banner-pro:hover {
opacity: 1;
transition: ease 0.3s;
h4{
    -webkit-transform: translate(0,-1em);
    -moz-transform: translate(0,-1em);
    -o-transform: translate(0,-1em);
    -ms-transform: translate(0,-1em);
    transform: translate(0,-1em);
    opacity: 1;
  }
}

// Effects

.fadeInAndSlideDown {
  transform: scale(0);
  opacity: 0.0;
  transform: translateY(-20%);
  animation: fadeInAndSlideDown 2s 0.5s ease forwards;
  -webkit-animation: fadeInAndSlideDown 2s 0.5s ease forwards;
  -moz-animation: fadeInAndSlideDown 2s 0.5s ease forwards;
}

@keyframes fadeInAndSlideDown {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-10%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

@-webkit-keyframes fadeInAndSlideDown {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-10%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

@-moz-keyframes fadeInAndSlideDown {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-10%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

.myfadeIn {
  opacity: 0.0;
  animation: myfadeIn 2s 0.5s ease forwards;
  -webkit-animation: myfadeIn 2s 0.5s ease forwards;
  -moz-animation: myfadeIn 2s 0.5s ease forwards;
}

@keyframes myfadeIn {
  0% {

    opacity: 0.0;

    /* start CSS properties */
  }

  100% {

    opacity: 1;
    /* end CSS properties */
  }
}

@-webkit-keyframes myfadeIn {
  0% {

    opacity: 0.0;

    /* start CSS properties */
  }

  100% {


    opacity: 1;
    /* end CSS properties */
  }
}

@-moz-keyframes myfadeIn {
  0% {

    opacity: 0.0;

    /* start CSS properties */
  }

  100% {

     -webkit-transform: scale(1);
    /* end CSS properties */
  }
}

.myfadeOut {
  opacity: 0.0;
  animation: myfadeOut 2s 0.5s ease forwards;
  -webkit-animation: myfadeOut 2s 0.5s ease forwards;
  -moz-animation: myfadeOut 2s 0.5s ease forwards;
}

@keyframes myfadeOut {


  100% {

    opacity: 1;
    /* end CSS properties */
  }

  0% {

    opacity: 0.0;

    /* start CSS properties */
  }
}

@-webkit-keyframes myfadeOut {

  100% {

    opacity: 1;
    /* end CSS properties */
  }

  0% {

    opacity: 0.0;

    /* start CSS properties */
  }
}

@-moz-keyframes myfadeOut {

  100% {

    opacity: 1;
    /* end CSS properties */
  }

  0% {

    opacity: 0.0;

    /* start CSS properties */
  }
}