<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post"
      action="https://legastronome.wufoo.com/forms/m1pf33kl0kimw2r/#public">

<header id="header" class="info">
<h2>Contact</h2>
<div>Vous souhaitez vous inscrire à une sesssion ? Laissez-nous votre contact.</div>
</header>

<ul>

<li id="foli17" class="notranslate      ">
<label class="desc" id="title17" for="Field17">
Prénom
</label>

<div>
<input id="Field17" name="Field17" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required />
</div>
</li>
<li id="foli16" class="notranslate      ">
<label class="desc" id="title16" for="Field16">
Nom
</label>
<div>
<input id="Field16" name="Field16" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup=""       required />
</div>
</li>



<li id="foli6" class="notranslate      ">
<label class="desc" id="title6" for="Field6">
Nom de votre entreprise

</label>
<div>
<input id="Field6" name="Field6" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required />
</div>
</li>
<li id="foli3" class="notranslate      ">
<label class="desc" id="title3" for="Field3">
Courriel

</label>
<div>
<input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2"       required />
</div>
</li>
<li id="foli5" class="notranslate      ">
<label class="desc" id="title5" for="Field5">
Numéro de téléphone

</label>
<div>
<input id="Field5" class="field text medium" name="Field5" tabindex="3" required
type="tel" maxlength="255" value="" />
</div>
</li>
<li id="foli4"
class="notranslate      "><label class="desc" id="title4" for="Field4">
Message

</label>

<div>
<textarea id="Field4"
name="Field4"
class="field textarea medium"
spellcheck="true"
rows="10" cols="50"

tabindex="4"
onkeyup=""
      required  ></textarea>

</div>
<li>
<div>
<input id="saveForm" name="saveForm" class="btn btn-primary" type="submit" value="Envoyer"/>
</div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="oGdLris3BXoBtupf1LuUszcvLwcMU4WVUZiGUGQC+r8=" />
</li>
</ul>
</form>