<div class="owl-carousel">
 <div class= "text-center item">
    <div class="row">
      <div class="col-xs-0 col-sm-1">
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= link_to "/temoignages" do %>
          <h5> "D’abord dubitatif, j’ai pu, lors de ces séances de coaching réfléchir aux améliorations à apporter à mes compétences professionnelles et à ma relation avec mes collègues ; l’objectif étant de m’améliorer dans mes fonctions."</h5>
          <p>Bob Marley - expert technique chez Faurecia</p>
        <% end %>
      </div>
      <div class="col-xs-0 col-sm-1">
      </div>
    </div>
  </div>
  <div class= "text-center item">
    <div class="row">
      <div class="col-xs-0 col-sm-1">
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= link_to "/temoignages" do %>
          <h5> "D’abord dubitatif, j’ai pu, lors de ces séances de coaching réfléchir aux améliorations à apporter à mes compétences professionnelles et à ma relation avec mes collègues ; l’objectif étant de m’améliorer dans mes fonctions."</h5>
          <p>Kelly Slater - cadre chez EDF</p>
        <% end %>
      </div>
      <div class="col-xs-0 col-sm-1">
      </div>
    </div>
  </div>
  <div class= "text-center item">
    <div class="row">
      <div class="col-xs-0 col-sm-1">
      </div>
      <div class="col-xs-12 col-sm-10">
        <%= link_to "/temoignages" do %>
          <h5> "D’abord dubitatif, j’ai pu, lors de ces séances de coaching réfléchir aux améliorations à apporter à mes compétences professionnelles et à ma relation avec mes collègues ; l’objectif étant de m’améliorer dans mes fonctions."</h5>
          <p>Julia Roberts - Community leader chez sanofi</p>
        <% end %>
      </div>
      <div class="col-xs-0 col-sm-1">
      </div>
    </div>
  </div>
</div>