
<body>

  <div class="row">
    <div id="banner-home" style= "background: linear-gradient(rgba(0, 9, 0, 0.15),rgba(0, 9, 0, 0.15)),url(<%= asset_path 'pro.png' %>); background-size:cover;" class="col-xs-12">
      <div class="row padded fadeInAndSlideDown">
        <div>
          <h1>Phrase d'accroche entreprises</h1>
        </div>
      </div>
      <div class="row text-center" style="position: static; padding-top: 90px">
        <div class="col-xs-12">
          <div id="trigger1" style="text-align:center;">
            <%= link_to "#trigger2" do %>
              <i class="fa fa-angle-down pulse scroll-btn-white" style="font-size: 55px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style= "background: url(<%= asset_path 'layerbannerpros.png' %>); background-size:cover;">
    <div class="row padded text-center">
      <h2>
        Quelle est votre situation ?
      </h2>
      <%= image_tag "linestyle.png", class: "linestyle" %>
    </div>
    <div class="row padded">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <u><h4>Stress</h4></u>
            <p>Vos salariés souffrent d’une pression accrue ? Ils se plaignent d’être souvent trop stressés ?</p>
            <p>Ils ne sont pas les seuls, hélas. Le stress est aujourd’hui une des premières sources de mal-être, d’absentéisme et d’inefficacité au sein des entreprises.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <u><h4>Expatriation</h4></u>
            <p>Dans le cadre de votre développement à l’international, les expatriés jouent un rôle clé. Partir travailler et vivre à l’étranger est un défi très motivant et en même temps en grand bouleversement de vie pour l’expatrié et sa famille. La plupart d’entre eux se plaignent d’être peu ou mal accompagnés par leur entreprise et de faire face seuls à des situations difficiles.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <u><h4>Efficacité</h4></u>
            <p>Certains de vos salariés sont démotivés, manquent d’intérêt et d’entrain dans leur poste ? D’autres ne se sentent pas à la hauteur de leurs nouvelles responsabilités ? Ont des difficultés liées à la communication, au management de leur équipe, à l’organisation de leur travail… </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p>Vous avez décidé de mettre en place une politique de prévention des risques psycho-sociaux et d’améliorer le bien-être, la fidélité et l’efficacité de vos salariés en réduisant leur stress.</p>
          </div>
          <div class="col-xs-4">
            <p>Vous avez décidé de les préparer avant le départ aux conditions clés du succès, de les soutenir pendant leur intégration, leur prise de poste, d’aider le conjoint à trouver sa nouvelle voie professionnelle en expatriation et de les accompagner également au retour en France pour bien rebondir et reprendre leurs marques.</p>
          </div>
          <div class="col-xs-4">
            <p>Vous souhaitez les aider à développer leur potentiel, à mieux connaître leur personnalité et leur source de motivation durable, à améliorer leur communication, management et booster leur efficacité.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fludi">
    <div class="row padded text-center">
      <h2>
        Quelle est notre réponse ?
      </h2>
      <p>
        Sur chacun de ces sujets, nous aidons vos salariés avec des solutions sur mesure, en fonction de vos besoins par différents types d’accompagnement individuels ou collectifs :
      </p>

    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
          <div class="col-xs-6 padded">
            <u><h4>Coaching individuel : </h4></u>
            <p>
              <li>Entre 6 à 12 séances de 1h30, qui s’étalent sur 2 à 6 mois</li>
              <li>un entretien avec le responsable hiérarchique du coaché et éventuellement le responsable des ressources humaines et le coaché, au démarrage pour définir le besoin et les attentes et à la fin pour faire le bilan du coaching</li>
              <li>un contrat pour formaliser l’objectif de la mission, le type d’intervention, les règles et les conditions</li>
            </p>
            <p>Les séances se déroulent soit en face à face, soit par skype, en français ou en anglais.Lien vers les 3 thèmes et la méthode utilisée</p>
          </div>
          <div class="col-xs-6 padded">
            <u><h4>Formations et ateliers</h4></u>
            <p>OpenUp Coaching propose avec ses partenaires des stages de formation ou des ateliers sur des thèmes comme la gestion du stress, la gestion relationnelle, la préparation à l’expatriation, la recherche d’emploi pendant ou au retour de l’expatriation… et s ’adapte également à vos besoins en personnalisant ses services en fonction de vos attentes.Ces formations et ateliers sont très interactifs, sont structurés pour optimiser la dynamique de groupe et l’intelligence collective. Créativité, bienveillance et expérimentation sont au cœur de nos priorités pour favoriser l’engagement et l’apprentissage des participants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
