/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

h1, h2, h3, h4 {
  color: gray;
}
h5, p{
  color: gray;
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 3em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #F6F8F9;
}

.bg-grey-gradient{
  background:linear-gradient(to bottom, white, #F6F8F9);
}


.bg-green {
  background: $green;
  color: white;
  h3, h4, h5{
    color: white;
  }
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-blue{
  background: #336E7b;
    h3, h4, h5{
    color: white;
  }
}



.bordered-orange{
   border-bottom: 1px solid $orange;
   }

.bordered-blue{
   border-bottom: 1px solid #3A444F;
   }


@media screen and (max-width: 768px) {
  .bordered-left-grey-big-devices{
    background: #F5F5F5;
  }
}

@media screen and (min-width: 768px) {
  .bordered-left-grey-big-devices{
    border-left: gray 1px solid;
  }
}